src/cues.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CueList">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Cue" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="NoneType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="loop"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AudioCue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="NoneType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="loop"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DmxCue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CTimecode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dmx_scene">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DmxUniverse" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="id"/>
                          <xs:element name="DmxChannel" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element type="xs:short" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>