src/cuems/cues.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CueMs">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="CuemsScript" type="CuemsScriptType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CuemsScriptType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="xs:string" name="uuid"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="date"/>
      <xs:element name="timecode_cuelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CueList" type="CueListType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="floating_cuelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CueList" type="CueListType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CueListType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="CuemsScript" type="CuemsScriptType" />
      <xs:element name="Cue">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element name="time">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="timecodeType" name="CTimecode" minOccurs="0"/>
                  <xs:element type="xs:string" name="NoneType" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="loop"/>
            <xs:element type="xs:string" name="media" minOccurs="0"/>
            <xs:element name="outputs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CueOutputs">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="id" minOccurs="0"/>
                        <xs:element type="xs:string" name="bla" minOccurs="0"/>
                        <xs:element type="xs:byte" name="physiscal" minOccurs="0"/>
                        <xs:element type="xs:byte" name="virtual" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AudioCue">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element name="time">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="timecodeType" name="CTimecode"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="loop"/>
            <xs:element type="xs:string" name="media" minOccurs="0"/>
            <xs:element name="outputs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AudioCueOutputs">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="stereo"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DmxCue">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element name="time">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="timecodeType" name="CTimecode"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="dmx_scene">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DmxScene">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="DmxUniverse" maxOccurs="unbounded" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="DmxChannel" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:short">
                                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:byte" name="id" use="optional"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="outputs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DmxCueOutputs">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="universe0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VideoCue">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="uuid"/>
            <xs:element name="time">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="timecodeType" name="CTimecode"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="loop"/>
            <xs:element type="xs:string" name="media" minOccurs="0"/>
            <xs:element name="outputs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="VideoCueOutputs">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:byte" name="stereo"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="timecodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>